<div class="container mt-4">
  <p class="text-success"><%= notice %></p>

  <h1 class="mb-4">Users</h1>

  <div class="mb-3">
    <%= link_to "New User", new_user_path, class: "btn btn-primary" %>
  </div>

  <div id="users" class="row">
    <% @users.each do |user| %>
      <%= render user %>
    <% end %>
  </div>
</div>
