<div class="container mt-4">
  <p class="text-success"><%= notice %></p>

  <h1 class="mb-4">Documents</h1>

  <div class="mb-3">
    <%= link_to "New Document", new_document_path, class: "btn btn-primary" %>
  </div>

  <% @documents.each do |document| %>
    <%= render document %>
  <% end %>
</div>
