<div class="container mt-4">
  <p class="text-success"><%= notice %></p>
  <h1 class="mb-4">Documents</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Document Type</th>
        <th>Employee Id</th>
        <th>User Name</th>
        <th>PDF</th>
        <th>Edit</th>
        <th>Destroy</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "document", locals: { document: @document } %>
    </tbody>
  </table>
</div>
<div class="text-center">
  <%= link_to "Back to documents", documents_path, class: 'btn btn-secondary' %>
</div>
